.site-header{
    margin: 10px;
    padding: 5px;
}

.site-header input{
    margin: 10px 0;
    border-radius: 40px;
}

.site-header nav{
    margin: 10px;
}

.site-header nav li{
    list-style: none;
    padding: 0;
}

.site-header .row{
    padding-left: 0;
}

.site-header form{
    padding:5px;
    margin: 10px;
}

.hero{
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
}

.hero img{
    width: 100%;
}

.spots{
    margin: 10px;
    padding: 10px;
}

.spots figure{
    margin: 10px;
    border: 2px solid black;
    padding:10px;
    padding-bottom: 30px;
}

.spots img{
    width: 100%;
}

figcaption{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.populäraproduktor{
    margin: 10px;
    padding: 10px;
}

.populäraproduktor img{
    width: 100%;
}

.populäraproduktor figcaption{
    text-align: left;
    padding: 0;
}

.populäraproduktor span{
    
    text-align: right;
    padding-right: 0;
}

.populäraproduktor .row{
   margin: 0;
}

h3{
    text-align: center;
}

.footer{
    margin: 10px;
    padding:0;
}

.footer .row{
    margin: 10px;
    padding: 0;
}

.footer li{
    margin: 10px;
    padding: 0;
    list-style: none;
    font-size: large;
}

.footer i{
    margin: 10px;
    font-size:x-large;
}

.list-footer h4{
    margin: 10px;
    font-size: large;
}

small{
    width: 100%;
}

